// PRIMARY
$primary-clr-50: #f2e5ff;
$primary-clr-100: #d9b3ff;
$primary-clr-200: #bf80ff;
$primary-clr-300: #a64dff;
$primary-clr-400: #8c1aff;
$primary-clr-500: #7300e6;
$primary-clr-600: #5900b3;
$primary-clr-700: #400080;
$primary-clr-800: #26004d;
$primary-clr-900: #130026;

// SECONDARY
$secondary-clr-50: #e0f7f7;
$secondary-clr-100: #b3efef;
$secondary-clr-200: #80e7e7;
$secondary-clr-300: #4ddfdf;
$secondary-clr-400: #26d7d7;
$secondary-clr-500: #00cccc;
$secondary-clr-600: #00a3a3;
$secondary-clr-700: #007a7a;
$secondary-clr-800: #005252;
$secondary-clr-900: #002929;

// GRAYS
$gray-clr-50: #f9f9f9;
$gray-clr-100: #f2f2f2;
$gray-clr-200: #e5e5e5;
$gray-clr-300: #cccccc;
$gray-clr-400: #b3b3b3;
$gray-clr-500: #999999;
$gray-clr-600: #737373;
$gray-clr-700: #525252;
$gray-clr-800: #333333;
$gray-clr-900: #1a1a1a;

// GOLD
$primary-complement-50: #fff4cc;
$primary-complement-100: #ffe599;
$primary-complement-200: #ffd966;
$primary-complement-300: #ffcc33;
$primary-complement-400: #ffbf00;
$primary-complement-500: #e6a700;
$primary-complement-600: #b38200;
$primary-complement-700: #805c00;
$primary-complement-800: #4d3600;
$primary-complement-900: #261b00;

// RED
$secondary-complement-50: #ffe5e0;
$secondary-complement-100: #ffb8b3;
$secondary-complement-200: #ff8a80;
$secondary-complement-300: #ff5c4d;
$secondary-complement-400: #ff3326;
$secondary-complement-500: #e61900;
$secondary-complement-600: #b31400;
$secondary-complement-700: #800e00;
$secondary-complement-800: #4d0900;
$secondary-complement-900: #260400;

$navigation-height: 6dvh;

$cta-outline: 1px solid $gray-clr-700;
$cta-bg-clr: rgb($gray-clr-700, 0.25);
$cta-outline-hover: 1px solid rgb($primary-clr-400, 0.75);
$cta-bg-clr-hover: rgb($primary-clr-600, 0.25);
