@import "../../variables.scss";

.section {
  &__control.left {
    padding: 0 !important;
    gap: 0 !important;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    flex: 1;

    .option {
      flex: 1;
      display: flex;
      min-width: 100px;
      border: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(0.5rem, 0.85rem, 1rem);
      width: 100% !important;
      text-transform: lowercase;
      padding: 0.85rem 1rem;
      width: fit-content;
      background: rgb($gray-clr-800, 0.5);
      transition: 0.2s ease background;
      cursor: pointer;
      border-bottom: 1px solid rgb($gray-clr-700, 0.45) !important;

      &:nth-child(even) {
        border-left: 1px solid rgb($gray-clr-700, 0.45) !important;
      }

      &:hover {
        background: rgb($gray-clr-700, 0.45);
      }
    }
  }
}
