@import "../../variables.scss";

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.number {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    border-radius: 0.25rem;
    overflow: hidden;

    & > label {
      aspect-ratio: 1;
      border: 1px solid $gray-clr-700;
      border-right: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb($gray-clr-700, 0.6);
    }
  }

  & > label {
    font-size: 0.85rem;
  }

  & > input {
    // border-radius: 0.25rem;
    // max-height: 1.25rem;
    // height: 100%;
    width: 100%;
    font-size: clamp(0.5rem, 0.85rem, 1rem);
    padding: 0.25rem 0.5rem;
    background: $cta-bg-clr;
    border: $cta-outline;
    transition: 0.2s ease background;

    &:focus {
      background: $cta-bg-clr-hover;
      border: $cta-outline-hover;
      outline: none;
    }

    &::placeholder {
      color: rgb($gray-clr-50, 0.35);
    }
  }
}
